<div id="product-block" class="product-block my-4 mb-lg-5">
  <div class="container">
    <section
      id="product"
      class="product"
      data-to-render="true"
      data-product-id="<%= _.state._id %>"
      data-sku="<%= _.state.sku %>"
    >
      <div id="product-dock">
        <!--
          `TheProduct` should be rendered (hydrated) here:
          https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/TheProduct.html
        -->
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4">
          <!-- Picture(s) gallery will be inserted dynamically within `TheProduct` -->
          <% if (_.state.pictures) { %>
            <% const imgObj = _.ecomUtils.img(_.state, null, 'big') %>
            <% if (imgObj) { %>
              <% const [width, height] = (imgObj.size || '').split('x').map(px => parseInt(px, 10)) %>
              <div id="product-gallery">
                <div
                  class="product__picture"
                  <% if (width) { %>
                    style="max-width: <%= width %>px"
                  <% } %>  
                >
                  <picture
                    <% if (width && height) { %>
                      class="picture"
                      style="--aspect-ratio-pc: <%= Math.round(height * 100 * 10000 / width) / 10000 %>%; opacity: 1"
                    <% } %>
                  >
                    <source
                      srcset="<%= _.ecomUtils.img(_.state).url %>"
                      type="image/webp"
                      media="(max-width: 299.98px)"
                    >
                    <source
                      srcset="<%= imgObj.url %>"
                      type="image/webp"
                      media="(min-width: 300px)"
                    >
                    <img
                      src="<%= imgObj.url.replace(/\.webp$/, '') %>"
                      alt="<%= imgObj.alt || _.state.name %>"
                      <% if (imgObj.url.startsWith('https://ecoms1.com/')) { %>
                        crossorigin="anonymous"
                        auto
                      <% } %>
                      <% if (height) { %>
                        width="<%= width %>"
                        height="<%= height %>"
                      <% } %>
                    >
                  </picture>                  
                </div>
              </div>
            <% } %>
          <% } %>
         
          <!-- Custom additional code on bottom of images gallery -->
        </div>       
        <div class="col">
          <h1 class="product__name">
            <%= _.ecomUtils.name(_.state) %>
          </h1>
          <p class="product__sku">
            COD: <%= _.state.sku %>
          </p>

          <div id="product-actions">
            <div id="product-loading">
              <% if (_.state.available && _.state.visible && _.ecomUtils.inStock(_.state)) { %>
                <div class="product__price prices prices--big">
                  <strong class="prices__value">
                    <%= _.ecomUtils.formatMoney(_.ecomUtils.price(_.state)) %>
                  </strong>
                </div>
              <% } %>

              <% if (_.state.variations && _.state.variations.length) { %>
                <div data-slot="variations-info">
                    <!-- Custom info for products with variations, such as sizes table link -->
                 </div>
              <% } %>

              <div class="spinner-border m-4" role="status">
                <span class="sr-only">Loading...</span>
              </div>

              <div class="product__buy">
                <button
                  type="button"
                  class="btn btn-lg btn-primary"
                  onclick="ecomCart.addProduct(storefront.context.body)"
                  <% if (_.state.variations && _.state.variations.length) { %>
                    disabled
                  <% } %>
                >
                  <div data-slot="buy-button-content">
                    <i class="fas fa-shopping-bag mr-1"></i>
                    <% if (_.state.kit_composition && _.state.kit_composition.length) { %>
                      <%= _.dictionary('buyKit') %>
                    <% } else { %>
                      <%= _.dictionary('buy') %>
                    <% } %>
                  </div>
                </button>
              </div>
            </div>        
          </div>
          <html>
            <body>
              <div>
              
              </div>
              <section class="modalmain">                    
                   <img src="\assets\fitametrica-icon.png" width="25" height="25" alt="tabela de medidas roupa infantil"/>
                  <div class="tablesiz">  
                    <a class="modal-button" href="javascript:;" data-toggle="modal" data-target="#modal-size-guide"
                      style="font-size:1rem; color: blue;">&nbsp<u>Tabela de medidas</u>&nbsp|</a>
                    <div class="modal modal-center fade" id="modal-size-guide" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                                <button id="close-mobile" type="button" class="close" data-dismiss="modal" style="display: none; padding: 7px">
                                  <span aria-hidden="true">Fechar</span>
                                </button>
                                  <div class="modal-header" style="display: flex;align-items: center; justify-content: space-between">
                                      <h4 class="modal-title"> &nbspTABELA DE MEDIDAS </h4>
                                      <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">x</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <table class="gt_table">         
                                          <tbody class="table-shirt">
                                                <div class="shirt">
                                                    <h5 class="table-measures">Camisa Manga Curta</h5>
                                                        <tr class="age">
                                                            <td>Idade</td>
                                                            <td>1 ano</td>
                                                            <td>2 anos</td>
                                                            <td>3 anos</td>
                                                        </tr>
                                                          <tr>
                                                            <td class="shirt-length">Comprimento</td>
                                                            <td>38 cm.</td>
                                                            <td>41 cm.</td>
                                                            <td>43 cm.</td>
                                                          </tr>
                                                        <tr>
                                                            <td class="shirt-width">Largura</td>
                                                            <td>30 cm.</td>
                                                            <td>31 cm.</td>
                                                            <td>33 cm.</td>
                                                        </tr>
                                                            <section><strong>Observação: Medidas relativas a frente da roupa</strong></section>                                      
                                                  </div>
                                            </tbody>
                                            
                                          </table>
                                          <table>
                                              <tbody>
                                                                    
                                                  <div class="short">
                                                        <h5 class="table-measures">Bermuda Social Infantil</h5>
                                                        <tr class="age-short">
                                                            <td>Idade</td>
                                                            <td>1 ano</td>
                                                            <td>2 anos</td>
                                                            <td>3 anos</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="short-length">Comprimento</td>
                                                            <td>28 cm.</td>
                                                            <td>29 cm.</td>
                                                            <td>31 cm.</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="short-waist">Cintura</td>
                                                            <td>26 cm.</td>
                                                            <td>27 cm.</td>
                                                            <td>29cm.</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="short-hip">Quadril</td>
                                                            <td>29 cm.</td>
                                                            <td>30 cm.</td>
                                                            <td>31 cm.</td>
                                                        </tr>
                                                          <section><strong>Para melhor comparação utilize como modelo uma roupinha do seu filho</strong></section>
                                                  </div>
                                            
                                              </tbody>
                                          
                                          </table>
                                              <p><strong>Fique atenta: </strong>tecidos de algodão tendem a <b>encolher até 3%</b> após a lavagem !</p>
                                              <a href="https://www.bluekids.com.br/posts/como-medir-a-roupa-para-seu-filho-2020-01-23">VEJA AQUI: Como medir !</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div>                               
                            </div>
                            <img src="\assets\incontroca.png" width="20" height="20" alt="politica de troca"/>         
                            <div class="garate">                              
                                <a class="garate-button" href="javascript:;" data-toggle="modal" data-target="#garate-size-guide"
                                  style="font-size:1rem; color: blue;">&nbsp<u>Política de Troca</u>&nbsp</a>
                                <div class="modal garate-center fade" id="garate-size-guide" tabindex="-1" aria-hidden="true">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <button id="close-mobile" type="button" class="close" data-dismiss="garate" style="display: none; padding: 7px">
                                            <span aria-hidden="true">Fechar</span>
                                          </button>
                                     <div class="modal-header" style="display: flex;align-items: center; justify-content: space-between">
                                              <h4 class="modal-title"> COMPRA GARANTIDA </h4>
                                              <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">x</span>
                                                </button>
                                    </div>                                   
                                      <section class="term-garant">
                                        <p><strong>Comprei para a roupa o aniversario do meu filho mas n&atilde;o serviu, tem troca?</strong></p>
                                        <p>A solicita&ccedil;&atilde;o de troca da roupinha do seu filho deve ser feita em at&eacute; 7 (sete) dias ap&oacute;s o recebimento da encomenda (de acordo com o c&oacute;digo de rastreamento fornecido pelos Correios). A primeira troca o frete &eacute; por nossa conta!</p>
                                        <p><strong>Comprei a roupinha mas me arrependi, posso devolver?</strong></p>
                                        <p>Sim! solicitar a devolu&ccedil;&atilde;o da roupa infantil em at&eacute; 7 (sete) dias ap&oacute;s o recebimento. Assim que a roupa retornar. Estando tudo ok, devolveremos o dinheiro referente a compra. <span style="text-decoration: underline;"><strong>O frete &eacute; por nossa conta!</strong></span></p>
                                        <p>Q<strong>ual &eacute; o procedimento para realizar minha troca/devolu&ccedil;&atilde;o?</strong></p>
                                        <p>Entre em contato via email (vendas@bluekids.com.br), identifique o n&uacute;mero do pedido, seu CPF, que forneceremos uma etiqueta para a devol&ccedil;&atilde;o</p>
                                        <p>&nbsp; Para mais informações sobre as condições gerais consulte a&nbsp;<a
                                          href="https://www.bluekids.com.br/pages/trocas"
                                          target="_blank">versão completa</a> </p>
                                        </section>                                
                               </div>                                
                            </div>
                        </div>
                      </div>                  
                  </section>>
                </body>                        
            </html>

            <% if (_.state.sales) { %>
                <span id="vendas"><strong><%=_.state.sales %></strong> unidade(s) vendida(s)</span>
            <% } %>            

          <% if (_.state.short_description) { %>
            <h2 class="product__info mt-3 lead">
              <%= _.state.short_description %></h2>
                 <p>Compre e encante-se com essa <strong>Roupa Infantil Masculino</strong> de tirar o folego! Renove o guarda-roupa do seu filho com as melhores <em><strong>roupas para meninos</strong></em>. Produzido por <b>Camisaria Blue Kids</b>. <em><strong>Looks para meninos incríveis</strong></em> e super descolados para seu Princípe arrasar em qualquer ocasião!!</p>
                
          <% } %>
        </div>
      </div>

      <%- await include('@/helpers/widgets-append', {
        _, opt: {}, field: 'productSlots'
      }) %>
    </section>

    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'productBlockAppend'
    }) %>
  </div>
</div>

<%
const productJsonLd = {
  '@context': 'http://schema.org',
  '@type': 'Product',
  sku: _.state.sku,
  description: _.state.short_description || _.state.meta_description || _.ecomUtils.name(_.state),
  name: _.ecomUtils.name(_.state),
  offers: {
    '@type': 'Offer',
    url: `https://${_.settings.domain}/${_.state.slug}`,
    availability: `${(_.ecomUtils.inStock(_.state) ? 'In' : 'OutOf')}Stock`,
    priceCurrency: _.settings.currency,
    price: _.ecomUtils.price(_.state),
    itemCondition: `http://schema.org/${(_.state.condition === 'new' ? 'New' : 'Used')}Condition`,
    seller: {
      '@type': 'Organization',
      name: _.settings.name || _.store.name
    }
  }
}
if (_.state.brands && _.state.brands[0]) {
  productJsonLd.brand = {
    '@type': 'Brand',
    name: _.state.brands[0].name
  }
}
if (_.state.pictures && _.state.pictures.length) {
  productJsonLd.image = _.ecomUtils.img(_.state, null, 'zoom').url
    .replace(/(\w+\.)?(ecoms\d)\.com/i, '$2-nyc3.nyc3.cdn.digitaloceanspaces.com')
}
if (_.state.mpn && _.state.mpn[0]) {
  productJsonLd.mpn = _.state.mpn[0]
}
%>
<script type="application/ld+json"><%-
  JSON.stringify(productJsonLd)
%></script>
